/* .one{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    position: absolute;
   top: 0px;
   animation: moveBox 5s ease-in-out 0s infinite  normal;
} */
/* .two{
      /* height: 100px;
    width: 100px;
    background-color: red;
    position: relative;
    left: 10px;
    top: 80px;
    z-index: -1;
bottom: 50px;
} */ 

/* @keyframes animateColor{
    from{
        right : 0px;
        background-color: blueviolet;
    } to {
        right : 500px;
        background-color: orange;
        }
} */

/* @keyframes moveBox {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translatey(300px);
  }
} */

/* .loader{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid rgb(255, 64, 0);
    border-top: 5px solid black;
    position: absolute;
    left: 200px;
    top: 200px;
    animation: rotate 1s ease-in-out 0ms infinite normal;
}
@keyframes rotate{
    from {
       transform:rotate(0deg);
    } to {
      transform:rotate(360deg);
    }
} */